.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4px 16px;
}
.itemContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  word-wrap: break-word;
  width: 100%;
}

.item.completed svg {
  fill: rgb(from var(--foreground) r g b / 0.6);
}

.item.completed textarea {
  text-decoration: line-through;
  color: rgb(
    from var(--foreground) abs(calc(r - 150)) abs(calc(g - 100))
      abs(calc(b - 100)) / 0.8
  );
}
