.listContainer {
  background-color: rgb(from var(--background) r g b / 0.3);
  border-radius: 14px;
  box-shadow: 0 4px 30px rgb(from var(--foreground) r g b / 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(from var(--background) r g b / 0.3);

  &.isOverdue {
    border: 1px solid rgb(241, 82, 82);
  }
}

.listFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  font-weight: bold;
  color: rgb(
    from var(--foreground) abs(calc(r - 10)) abs(calc(g - 19))
      abs(calc(b - 200)) / 1
  );
}
