.listContainer {
  background-color: rgb(from var(--background) r g b / 0.3);
  border-radius: 14px;
  box-shadow: 0 4px 30px rgb(from var(--foreground) r g b / 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(from var(--background) r g b / 0.3);
  width: clamp(30%, 450px, 300px);
}

.listFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
