.alarmSettingsContainer input[type="range"] {
  writing-mode: vertical-lr;
  direction: rtl;
  height: 190px;
}

.alarmSettingsContainer {
  display: flex;
  padding: 14px;
  margin-top: 4px;
  background-color: rgb(from var(--background) r g b / 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(from var(--foreground) r g b / 0.5);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: 1px solid rgb(from var(--background) r g b / 0.3);
  width: clamp(240px, 220px, 200px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.notificationStatusText {
  font-size: 0.8rem;
  color: rgb(
    from var(--foreground) abs(calc(r - 10)) abs(calc(g - 20))
      abs(calc(b - 100)) / 1
  );
  padding: 4px 0px;

  & span {
    word-wrap: normal;
    padding: 4px;
  }

  & a {
    padding: 6px 4px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.alarmSettings {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px 0px 0px;
  width: 100%;
}

.currentAlarmPreview button {
  padding: 4px 10px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(
    from var(--foreground) abs(calc(r - 10)) abs(calc(g - 20))
      abs(calc(b - 100)) / 1
  );

  & svg {
    fill: rgb(
      from var(--foreground) abs(calc(r - 10)) abs(calc(g - 20))
        abs(calc(b - 100)) / 1
    );
  }
}

.alarmVolume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.actionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & span {
    font-size: small;
    color: rgb(from var(--foreground) r g b / 0.6);
  }

  & button {
    padding: unset;
  }

  &:hover {
    & svg {
      fill: rgb(
        from var(--foreground) abs(calc(r - 10)) abs(calc(g - 19))
          abs(calc(b - 200)) / 1
      );
    }
  }
}

.alarmSound {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 100%;
}
