.reminderIndicator {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0px 12px;
  text-transform: capitalize;
  color: rgb(
    from var(--foreground) abs(calc(r - 10)) abs(calc(g - 19))
      abs(calc(b - 200)) / 1
  );
  &.isOverdue {
    color: rgb(241, 82, 82);
  }
}
