.listHeaderContainer li {
  background-color: rgb(from var(--background) r g b/ 0.3);
  border-radius: 14px 14px 0px 0px;
  box-shadow: 0 2px 16px rgb(from var(--foreground) r g b / 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(3px);
  padding: "4px 10px";
  color: var(--foreground);
}
