.actionButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  z-index: 1;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 60px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgb(from var(--background) r g b / 0.3);
  gap: 2em;
}

.actionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & span {
    font-size: small;
    color: rgb(from var(--foreground) r g b / 0.6);
  }

  & button {
    padding: unset;
  }

  &:hover {
    & svg {
      fill: rgb(
        from var(--foreground) abs(calc(r - 120)) abs(calc(g - 139))
          abs(calc(b - 200)) / 1
      );
    }
  }
}
