.actionButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  z-index: 2;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 60px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgb(from var(--background) r g b / 0.3);
  gap: 0px;

  & button {
    border-radius: unset;
  }
}

.actionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: unset;
  height: 60px;
  min-width: 95px;

  & span {
    width: 95px;
    text-overflow: ellipsis;
    font-size: small;
    color: rgb(from var(--foreground) r g b / 0.6);
  }

  & button {
    padding: unset;
  }

  &.disabled,
  &.disabled:hover {
    cursor: not-allowed;
    & svg {
      fill: rgb(from var(--foreground) r g b / 0.5);
    }
  }

  &:hover {
    border-radius: unset;
    background-color: rgb(from var(--foreground) r g b / 0.4);
    & span {
      color: rgb(from var(--background) r g b / 0.6);
    }
    & svg {
      fill: rgb(from var(--background) r g b / 0.6);
    }
  }
}
